body{
    width: 100%;
    height: 100%;
    margin: 0;   
    font-family: Helvetica,Arial,sans-serif;
}

/* Header Start */  

.desktop-header{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    background-color: #fff;
    padding: 20px 2%;
    color: #012e4b;
    font-size: 15px;
    font-weight: 600px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;   
    top: 0;
    z-index: 1;
}


.desktop-header-img-logo{
    margin-right: auto;
}


.desktop-header-nav-links li {
    list-style:none; 
    display: inline-block;
    padding: 0px 10px;
}


.desktop-header-nav-links li a {
    text-decoration: none; 
    color: #012e4b;      
}


.desktop-header-nav-links li a:hover{
    color: #f26e22;
}


.desktop-header-number-phone-box{
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 29px rgb(0 0 0 / 13%);
    border-radius: 5px;
    margin-left: 10px;
    padding: 15px;
    gap: 10px;
}

  

.desktop-header-img-phone{        
    width: 25px;
    height: 25px;
}


.desktop-header-main-links{
    position: relative;

}


.desktop-header-main-links::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #f26e22;
    transition: width 0.55s ease-out;
    margin-bottom: -40px;
}


.desktop-header-main-links:hover::before{
    width: 85%;
}


.desktop-header-nav-links li:hover .desktop-header-dropdown-menu{
    visibility: visible;     

}


.desktop-header-dropdown-menu{       
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
    position: absolute;
    left: -130px;
    padding: 25px 0;
    margin-top: 40px;
    height: 120px;
    width: 510px;
    visibility: hidden;
    transition: all ease-out 0.9s;   
}


.desktop-header-dropdown-menu>*{
    flex: 1 1 40px;
}


.desktop-header-contact{
    color: #f26e22;
}

/* Header End */  

main{
    display: flex;
    flex-direction: column;  
    margin-top: 50px;
    width: 100%;
    height: 1600px;
    background-color: #fff;
}


.hero-section{
    display: flex;
    background-image: url("https://s3.eu-central-1.amazonaws.com/assets.pricefox.gr/greece/pricefox.gr/production/gr/images/ci/new-landing/mr-pricefox-black.jpg");
    background-position: center;
    background-size: cover;
    width: inherit;
    height: 620px;  
    align-items: center; 
}



/* hero-section-cta Start */

.hero-section-compare-insurance-companies-container{
    width: 445px;   
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: #012e4b; 
    padding: 30px 20px; 
    margin-left: 8%;
    box-sizing: border-box;
}




.hero-section-compare-insurance-companies-container form{
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 20px;
    margin: 0;
}



#hero-section-cta-vehicle-selection{
    display: flex;
    width: 100%;
    color: #929ca1;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;  
    margin: 0;
}


input[type="radio"] {
    display: none;
}



label{
    line-height: 32px;
}




.selected-vehicle {
    color: #012e4b;
    border: 1px solid rgba(187,192,209,.4);
    padding: 10px 8px 10px 40px;
    background: url("https://assets.pricefox.gr/greece/pricefox.gr/production/gr/images/ci/new-landing/orange-car.png") no-repeat center;
    background-size: 26px 14px;
    background-position: 8%;
    border-radius: 5px;
}



hr{
    width: 100%;
    border: 0;          
    background-color:rgba(187,192,209,.4);
    height: 1px; 
    margin: 0;
  
}



#hero-section-cta-put-plate-and-compare{
    width: 100%;  
    margin: 0;
    display: flex;
    gap: 20px; 

}



.hero-section-cta-license-plate-input{
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 29px rgb(0 0 0 / 13%);
    border-radius: 5px;
    color: #626c71;
    font-size: 12px;
    height: 50px;  
    padding-left: 5px;
    flex: 2 0 0;
    position: relative;   
}



.hero-section-cta-license-plate-input input{
    border: none;
    padding-left: 5px;
    height: 30px;  
}



.hero-section-cta-license-plate-input input:focus{
    outline: none;   
}



#hero-section-cta-put-plate-and-compare button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f26e22;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
    height: 50px;
    flex: 1 0 0;
}


.error {      
    padding: 0.3rem;
    border: 1px solid black;
    font-size: 13px;
    color: black;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    display: none;
    width: 300px;
    position: absolute;
    z-index: 1;   
    margin: -60px 0 0 60px;    
}

.error.active{
    display: flex;    
}


.hero-section-compare-insurance-companies-container h1{
    font-size: 29px;
    margin: 0;
    width: 100%;
}


.hero-section-compare-insurance-companies-container h3{
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    width: 100%;
}


.hero-section-compare-insurance-companies-container h5{
    font-size: 14px;
    font-weight: 500;
    color: #626c71;
    margin: 0;
    width: 100%;
}

/* hero-section-cta End */





/* carousel Start */      

.best-offers-cards-container{
    display: flex;
    flex-direction: column;
    color: #012e4b;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    margin: -28px 7% 0 7%;
    box-shadow: 0 0 29px rgb(0 0 0 / 13%);
}


.best-offers-cards-container h2{
    margin: 1%  0;
    font-size: 23px;
}



.carousel-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.hidden {
    display: none;
}


.carousel-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    padding: 40px 20px;
    /* overflow: hidden; */ 
    order: 1px solid gray;
}


.carousel-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 5px;
    color: #626c71;
    font-size: 12px;  
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 29px rgb(0 0 0 / 13%);
    width: 20%;
    transition: all 1.7s ease-in-out;
}



.carousel-card p{
    width: 120px;
    height: 40px;
}



.carousel-img-companies{
    width: 115px;
    height: 68x;
}

  
.carousel-discount{
    background: #fff;
    box-shadow: 0 0 29px rgb(0 0 0 / 13%);
    border-radius: 5px;
    width: 70px;
    font-size: 20px;
    font-weight: bold;
    color: #f26e22;
    padding: 10px;
    margin-bottom: 10px;  
}



 

.carousel-wrapper button{
   border: none;
   background-color: #fff;
   color: #012e4b; 
   cursor: pointer;
   font-size: 30px;
}




/* carousel End */  


.mobile-header{
    display: none;
}




@media (max-width: 480px){

    body{
        
        background-color: rgb(230, 226, 226);
    }


    .desktop-header{
        display: none;
    }


    .mobile-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;    
        background-color: rgb(230, 226, 226);
        padding-bottom: 40px;
        color: #012e4b;
        font-size: 15px;
        font-weight: 500px;
        box-sizing: border-box;
        position: fixed;   
        border-radius: 10px;
        top: 0;
        z-index: 1;
    }



    main{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 100px;
        background-color: rgb(230, 226, 226);
    }


    .hero-section{

        background-image: none;
        height: 460px;  
        align-items: flex-start; 
    }


    .hero-section-compare-insurance-companies-container{
        margin: 0 3%;
    }


    #hero-section-cta-put-plate-and-compare{
        flex-wrap: wrap;
    }


    .hero-section-cta-license-plate-input{
        flex: 2 0 300px;
    }
    

    #hero-section-cta-put-plate-and-compare button{
        flex: 2 0 0;
    }


    .error {      
        
        width: 300px;
        position: absolute;
        z-index: 1;
        right: 0;
        left: 0;
        margin: -60px auto;   
    }



    /*carousel */

    .best-offers-cards-container{
        margin: 50px 3%;
    }
    
    
    .best-offers-cards-container h2{
        margin: 3% 2%;
        font-size: 19px;
    }
    
    
    .carousel-container{  
        gap: 4%;
        padding: 20px 5px;
    }
    .carousel-card-content{
        padding: 18px;
    }

}












    

















 
